.heading{
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px ;
    text-align: center; 
    margin-left: 0px;
    margin-bottom: 20px;
}
.table{
    background-color: #f4f4f4;
 
}
.addBtn{
background-color:rgb(166,208, 248);
padding-top: 4px;
padding-bottom: 4px;
padding-left: 8px;
padding-right: 8px;
float: right;
margin-right: 40px;

}
.btn{
    margin-left: 10px;
}

.thead-dark{
    color:rgb(166,208, 248);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}