.heading{
    color:rgb(59, 55, 55);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px ;
    text-align: center; 
    margin-bottom: 20px;
    font-size: 35px;
}
.table{
    background-color: #f4f4f4;

}
.btn{
    margin-left: 10px;
}

.thead-dark{
    color:rgb(166,208, 248);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.contain{

    margin-top: 50px;
    background-color: rgb(166, 208, 248);
    border-radius: 5px;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(59, 55, 55);
  }

  

