<div class="border container">
<h1 class="heading">List of Employees</h1>
<!-- This is a test -->
  <div class="row">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Department</th>
      <th scope="col">Contact number</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>{{item.empId}}</td>
      <td>{{item.name}}</td>
      <td>{{item.surname}}</td>
      <td>{{item.email}}</td>
      <td>{{item.department}}</td>
      <td>{{item.contactNo}}</td>
      <td class="btn_structucture">
        <button type="button" class="btn btn-primary" (click)="viewEmployee(item.empId)">View</button>
        <button type="button"  class="btn btn-success" routerLink="/update">UPDATE</button>
      <button type="button" (click)= "delete(item.empId)" class="btn btn-danger">DELETE</button>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>


