
/* stylink that makes navbar links animated when hoverd across */
.nav-link{
    transition: width 0.1s;
}

.nav-link:hover {
     color: #f4f4f4;
  
    -ms-transform: scale(4.0);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .navbar-toggler-icon{
    color: #f4f4f4;
    background-color: #f4f4f4;
  }


