


<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" href="#">
    <img src="https://th.bing.com/th/id/OIP.6E_0BK2Dm85REOs3WXhizgHaHa?w=176&h=180&c=7&r=0&o=5&pid=1.7" style="display: inline-block; max-width: 30px;max-height: 30px;" />
    <span style="display: inline-block" style="margin-left: 5px;color:rgb(166,208, 248);font-family: Verdana, Geneva, Tahoma, sans-serif;">FIASCO</span>
  </a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" style="color:rgb(166,208, 248) ;font-family: Verdana, Geneva, Tahoma, sans-serif;">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/add']" style="color:rgb(166,208, 248); font-family: Verdana, Geneva, Tahoma, sans-serif;"
          >Add Employee</a
        >
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
