form{
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: none;
    border-radius: 8px;
    
}
.container{
    background-color: #f4f4f4;
    border-radius: 5px;
    width: 957px;
    height: 550px;
    padding-top: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(59, 55, 55);
}
h1{
    text-align: center;
    padding-top: 2rem;
    background-color: rgb(166, 208, 248);
    color: rgb(59, 55, 55);
    margin-top: 60px;
    margin-left: 15rem;
    margin-right: 15rem;
    border-radius: 5px;
    padding-bottom: 10px;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(59, 55, 55);
}

input{
    padding-right: 5rem;
    border-top:none;
    border-left:none;
    border-right: none;
    border-radius: 5px;
    padding-top: 20px;
    width: 25rem;
    height: 35px;
}

label{
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-inline-start: 1rem;
    padding-left: 1px;
    margin-right: 20px;

}

button{
    margin-top: 2rem;
    width: 9rem;
    height: 3rem;
    background-color: rgb(166, 208, 248);
    border-radius: 3rem;
 
}
.btn1{
    margin-right: 60px;
}
.btn2{
    margin-left: 30px;
}
span{
    color:red;
    font-style: italic;
    font-size: small;
    padding-bottom: 2px;
}

