<h1>Add A New Employee</h1>


<form  >
    <div>
    <label>Employee's ID: </label>
    <input type="text" placeholder="Enter The Employee's ID." formControlName="Employee ID">      
    <br>
    
    </div>
    <div>
    <label>Name: </label>
    <input id= "name"type="text" placeholder="Enter The Employee's Name." formControlName="Name">
    <br>
    </div>
    <div>
    <label>Surname:</label>
    <input id="surname" type="text" placeholder="Enter The Employee's Surname." formControlName="Surname">
    <br>
    </div>
    <div>
    <label>Email Address: </label>
    <input type="text" placeholder="Enter The Employee's Email Address." formControlName="Email">
    <br>
    </div>
    
    <div>
        <label>Contact Number:</label>
        <input type="text" placeholder="Enter The Employee's Contact Number" formControlName="Contact">
    <br>
    </div>
    <div>
        <label>Department:</label>
        <input type="text" placeholder="Enter The Employee's Department" formControlName="Department">
    </div>
    <button type="submit">Submit</button>







</form>
