<h1>Update Employee</h1>

<div class="container">
<form id="updateForm" onsubmit="return false">
    <div>
    <label>Employee's ID: </label>
    <input type="text" id="empNo" placeholder="Enter The Employee's ID." name="Employee ID">      
    <br>
    </div>
    <div>
    <label>Name: </label>
    <input id= "name"type="text" id="name" placeholder="Enter The Employee's Name." name="Name">
    <br>
    </div>
    <div>
    <label>Surname:</label>
    <input id="surname" type="text" placeholder="Enter The Employee's Surname." name="Surname">
    <br>
    </div>
    <div>
    <label>Email Address: </label>
    <input type="text" placeholder="Enter The Employee's Email Address." name="Email">
    <br>
    </div>
    
    <div>
        <label>Contact Number:</label>
        <input type="text" placeholder="Enter The Employee's Contact Number" formControlName="Contact">
    <br>
    </div>
    <div>
        <label>Department:</label>
        <input type="text" placeholder="Enter The Employee's Department" formControlName="Department">
        <br>
    </div>
   

    <button onclick="getUpdatedEmployee()">Update</button> 

</form>
</div>