<h1>Update Employee</h1>

<div class="container">

 <!-- A form that calls the updat() methos that edits the details of an employee when it is submitted -->
  <form (ngSubmit)="update()" > 
<!-- the forms' labels and inputs that are initially populated using values of fields obtained from  the getData method
 which gets am employee record via id, which is obtained using local storage -->
          <div>
            <label>Name: </label>
            <input
              class="form-control"
              id="name"
              type="text"
              id="name"
              [(ngModel)]="this.name"
              name="Name"
            required/>
            
              <br />
            </div>
            <div>

              <label>Surname:</label>
              <input
                class="form-control"
                id="surname"
                type="text"
                [(ngModel)]="this.surname"
                name="Surname"
            
              />

            <div>
              <label>Email Address: </label>
              <input
                class="form-control"
                id="email"
                type="text"
                [(ngModel)]="this.email"
                name="Email"
              />
              <br />

              <label>Contact Number:</label>
              <input
                class="form-control"
                id="contactNp"
                type="text"
                [(ngModel)]="this.contactNo"
                name="contactNo"
            
              />

             
            <div>
              <label>Department:</label>
              <input
                class="form-control"
                id="department"
                type="text"
                [(ngModel)]="this.department"
                name="department"
              />
              <br />
            </div>
           <!-- from submit button and a cancel button to navigate back to the homepage -->
            <button class="btn1" routerLink="/">Home</button>
            <button class="btn2" type="submit">Update</button>
          </div>
        </div>
  </form>
</div>

