form{
    text-align: left;
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: none;
    border-radius: 8px;
    
}
.container{
    background-color: #f4f4f4;
    border-radius: 5px;
    width: 957px;
    height: 600px;
    padding-top: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(59, 55, 55);
}
h1{
    text-align: center;
    padding-top: 2rem;
    background-color: rgb(166, 208, 248);
    color: rgb(59, 55, 55);
    margin-top: 60px;
    margin-left: 15rem;
    margin-right: 15rem;
    border-radius: 5px;
    padding-bottom: 10px;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(59, 55, 55);
}

input{
    padding-right: 5rem;
    border-top:none;
    border-left:none;
    border-right: none;
    border-radius: 5px;
    padding-top: 20px;
    width: 25rem;
    height: 35px;
    
}
p{
    font-size: larger;
}

label{
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-inline-start: 1rem;
    padding-left: 1px;
    margin-right: 20px;

}

button{
    margin-top: 2rem;
    width: 9rem;
    height: 3rem;
    background-color: rgb(166, 208, 248);
    border-radius: 3rem;
    padding-bottom: 0px;
    
}
.btn1{
    margin-right: 60px;
}
.btn2{
    margin-left: 30px;
}

#empNo{
  padding-left: 185px;
}
#name{
 padding-left: 175px;

}

#surname{
 padding-left: 180px;
}

#email{
 padding-left: 155px;
}

#contactNo{
padding-left: 155px;
}

#department{
padding-left: 180px;
}

@media only screen and (max-width:800px) {

    h1{
     width:45%;
     height: 70px;
   margin-left: 95px;
   margin-top: 5px;
   padding-top: 5px;
   padding-bottom: 5px;
 
    }
    .container{
        margin-top: 5px;
     padding: 15px;
     width: auto;
     padding-top: 40px;
    
    }
    label{
        margin-left: 0px;
    }
    input{
        width:45%;
    }
    .btn1{
        padding:5px ;
        padding-right: 5px;
        max-width: 80px;
    }
    .btn2{
        margin-right: 10px;
        padding-left:5px ;
        padding: 5px;
        max-width: 80px;
    }
 }