<h2 class="block">View Employee</h2>
<div class="container">
<div>
    <div>
        <label> <b> First Name: </b></label> {{employee?.name}}
    </div>
    <div>
        <label> <b> Last Name: </b></label> {{employee?.surname}}
    </div>
    <div>
        <label> <b> Email: </b></label> {{employee?.email}}
    </div>
    <div>
        <label> <b> Contact: </b></label> 0{{employee?.contactNo}}
    </div>
    <div>
        <label> <b> Department: </b></label> {{employee?.department}}
    </div>
     
     <button routerLink="/">Go Back</button>
</div>
</div> 

